<style>
  .custom-section {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }
</style>

<div class="custom-section">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Custom section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [],
  "presets": [
    {
      "name": "Custom section"
    }
  ]
}
{% endschema %}
