* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "inter", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
video,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.ze-password-page {
  width: 100dvw;
  min-height: 100dvh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.ze-password__backgrounds {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.ze-background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
#ze-desktop_video {
  display: none;
}
.ze-password-contens {
  max-width: 500px;
  width: 95%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.ze-password-logo-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.ze-password-logo-img {
  width: 200px;
}
/* Password block css Start Here */

.ze-password-btn {
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 600;
  z-index: 999;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  /* border-radius: 8px; */
}

.ze-password-form {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  top: 0;
  left: 0;
}

.ze-password-form form {
  max-width: 450px;
  width: 90%;
  background: #000;
  padding: 30px 20px;
  border-radius: 2px;
  width: 480px;
  text-align: center;
  /* border: 2px solid #fff; */
}

.ze-password-form form > div {
  position: relative;
}

.ze-password-form form p {
  color: #fff;
  font-size: 22px;
  margin: 0 0 20px;
}

.ze-password-form form label {
  margin-bottom: 10px;
}

.ze-password-form input[type="password"] {
  border: 1px solid #fff;
  outline: 0;
  border-radius: 2px;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  width: 100%;
  color: var(--ps-primary-color);
  font-size: 18px;
}

input[type="password"]::placeholder {
  color: #000 !important;
}

.ze-password-form input[type="submit"] {
  position: absolute;
  height: 42px;
  min-height: initial;
  line-height: 1;
  padding: 0 20px;
  background: #000;
  color: #fff;
  top: 4px;
  right: 4px;
  border-radius: 2px;
  outline: 0;
  border: 0;
  width: fit-content;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.ze-password-form input[type="submit"]:hover {
  opacity: 0.8;
}

.ze-password-form--close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.ze-password-form--close:before,
.ze-password-form--close:after {
  content: "";
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 24px;
  left: 11px;
}

.ze-password-form--close:before {
  transform: rotate(45deg);
}

.ze-password-form--close:after {
  transform: rotate(-45deg);
}

/* CountDown Timer  */

.countdown__timer__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  margin-top: 20px;
}

.countdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.days,
.hours,
.minutes,
.seconds {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
span.timer__tittle {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}

span.timer__item {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  line-height: 20px;
}
.clone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  display: none;
}
.password-header__link {
  display: none;
}
.password-footer {
  display: none;
}
#ze-desktop-bg-image {
  display: none;
}
.ze-password-signup {
  width: 100%;
}
.ze-password-form-block form {
  max-width: 450px;
  width: 90%;
  margin: auto;
}
/* signup form css star here */
.input-group.row {
  width: 100%;
  background: #fff;
  border-radius: 40px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 50px;
  padding-left: 15px;
}
i.emailIcon.ri-mail-line {
  color: gray;
  font-size: 18px;
  font-weight: 400;
}

input.ze-password-email {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding: 8px 15px;
  max-width: 60%;
  height: 100%;
}

button.ze-password-submit.btn--primary {
  border: none;
  background: green;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 40px;
  width: 37%;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.4s linear;
  height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
}

button.ze-password-submit.btn--primary:hover {
  background: #000;
  color: #fff;
}
/* Password footer block css  */
.ze-password-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 20px 20px;
  z-index: 100;
}
.ze-password-footer-heading {
  text-align: center;
}
@media (min-width: 600px) {
  #ze-desktop_video {
    display: block;
  }
  #ze-desktop_video {
    display: none;
  }
  #ze-desktop-bg-image {
    display: block;
  }
  #ze-mobile-bg-image {
    display: none;
  }
}
