@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.custom-section {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: transparent;
  }

  /* .custom-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: transparent;
  }

  @media (min-width: 600px) {
    .custom-row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1024px) {
    .custom-row {
      grid-template-columns: repeat(4, 1fr);
    }
  } */

  .custom-column{
    padding: 10px;
  }
.heading{
    padding: 10px 0;
    font-size: 30px;
    color: #000;
    text-align: center;
}

.ze-ul-lists-wrapper {
    width: 100%;
    padding: 20px 0;
  }

  .ze-ul-lists,
  .ze-ol-lists {
    width: 100%;
    padding: 5px 0;
  }
  .ze-ul-lists-item,
  .ze-ol-lists-item {
    list-style: disc;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 5px 0;
    color: #000;
    display: block;
  }
  .ze-ol-lists {
    list-style: disc !important;
    padding: 0 20px;
  }
  